<!DOCTYPE html>
<html>

<head>
  <title>Web form</title>
</head>

<body>
  <h2>New Researcher</h2>
  <form action="../model/insert_researcher.php" method="post" target="_self">
    <label for="name">Name</label>
    <input type="text" id="nameId" name="name"><br>
    <label for="loginid">loginid</label>
    <input type="loginid" id="loginidId" name="loginid"><br>
    <label for="password">password</label>
    <input type="text" id="passwordId" name="password"><br>
    <input type="submit" value="submit">
    
  </form>

</body>

</html>